modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
build = ["sh", "-c", "vite build"]
deploymentTarget = "static"
publicDir = "dist"

[[ports]]
localPort = 4173

[[ports]]
localPort = 5173
